@tailwind base;
@tailwind components;
@tailwind utilities;


.overlay {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-tap-highlight-color: transparent;

  }

  
  .fill {
    flex: 1;
    background: transparent;
  }
  
  .drawer {
     background-color: rgb(255, 255, 255);
    color: rgb(42, 53, 71);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    box-shadow: rgba(0, 0, 0, 0.31) 0px 0px 1px 0px, rgba(0, 0, 0, 0.25) 0px 11px 20px -8px;
    background-image: none;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    height: 100%;
    flex: 1 0 auto;
    z-index: 1200;
    position: fixed;
    top: 0px;
    outline: 0px;
    right: 0px;
    border-color: rgb(229, 234, 239);
  }
  
  .time-button button {
    border: 1px solid !important;
  }

  .long-and-truncated p {
    display: inline;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    word-wrap: break-word;/* Important for long words! */
  }



 path.highcharts-data-label-connector,text.highcharts-title , g.highcharts-data-labels , text.highcharts-credits {
    display: none;
} 

.pie-chart-table div{
  height: 100%;
}

.contact-search input{
  padding: 8px 14px !important;
}
.contact-search div{
 border-radius:8px ;  
}
.side-chate-offset{
  box-sizing: inherit!important;
  height: 100%;
  width: 100%;
  max-width: 1px;
  position: relative;
  float: left;
  max-height: 1px;
  overflow: hidden;
  z-index: -1;
  padding: 0;
  margin: 0;
  pointer-events: none;
}

.simplebar-mask {
  direction: inherit;
  overflow: hidden;
  width: auto!important;
  height: auto!important;
  z-index: 0;
}
.simplebar-mask, .simplebar-offset {
  position: absolute;
  padding: 0;
  margin: 0;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

.simplebar-content-wrapper {
  direction: inherit;
  box-sizing: border-box!important;
  position: relative;
  display: block;
  height: 100%;
  width: auto;
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.chatMenuWrapper input{
  padding: 5px;
}